@{
    Layout = null;
}

<form asp-controller="Home" asp-action="Login" method="post">
    <h4>MyTemplate登入</h4>
    <label>帳號：</label>
    <input type="text" name="userAct" id="userAct" />
    <input type="submit" value="Login" />
</form>